body {
  background: blue;
  color: white;
}

h3 {
  margin-top: 40px;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

.foodImg {
  width: 25%;
  float: left;
  margin-left: 6%;
  background-color: white;
}

img {
  height: 300px;
  width: 90%;
  margin-left: 5%;
}

.btn {
  margin-left: 45%;
}

span {
  color: black;
  margin-left: 40%;
  font-size: 20px;
}

p {
  color: black;
  text-align: center;
}

form {
  color: black;
}